<div class='mt-4'>
    <h3>Thêm chương học</h3>
    <form method='POST' action='/unit/store'>
        <div class='form-group'>
            <label for='unitName'>Tên chương học</label>
            <input class='form-control' id='unitName' name='unitName'/>
        </div>
        <div class='form-group'>
            <label for='exampleId'>exampleId</label>
            <input class='form-control' id='exampleId' name='exampleId'/>
        </div>
        <div class='form-group'>
            <label for='exampleId'>exampleId</label>
            <input class='form-control' id='exampleId' name='exampleId'/>
        </div>
        
        
        <button type='submit' class='btn btn-primary'>Thêm</button>
        <a href="/example/">Xem ID các bài học học</a>
    </form>
</div>