<div class='mt-4'>
    <h3>Cập nhật khóa học</h3>
    <form
        class='mt-4'
        method='POST'
        action='/unit/{{unit._id}}?_method=PUT'
    >
        <div class='form-group'>
            <label for='unitName'>Tên chương học</label>
            <input
                class='form-control'
                value='{{unit.unitName}}'
                id='unitName'
                name='unitName'
            />
        </div>
        {{#each unit.exampleId}}
        <div class='form-group'>
            <label for='exampleId'>exampleId</label>
            <input
                class='form-control'
                id='exampleId'
                name='exampleId'
                value="{{this}}"
            />
        </div>
        {{/each}}

        <button type='submit' class='btn btn-primary'>Lưu Lại</button>
    </form>
</div>