<div class="app-container-login">
    <form method="POST" class="modal-account" action="" >
        <div class="modal-login">
            <div class="login-text">
                <p>REGISTER</p>
            </div>
            <div class="modal-input">
                <input type="text" class="input-email c-12 m-12 l-12" name="username" id="username" placeholder="USERNAME">
                {{!-- <input type="" class="input-email c-12 m-12 l-12" name="email" placeholder="EMAIL"> --}}
                <input type="password" class="input-password c-12 m-12 l-12" name="password" id="password" placeholder="PASSWORD">
            </div>
            <div class="sign-in__btn modal-btn">
                <input type="submit" value="CREATE" class="btn-text">
            </div>

            <!-- dialog register -->
            <div class="sign-in__btn" >
                <a class="btn-text already-btn" href="/auth/login">ALREADY REGISTER? LOGIN</a>
            </div>
            <!-- End dialog register -->

        </div>
    </form>
</div>