<div class='mt-4'>
    <h3>Thêm khóa học cho tài khoản</h3>
    <form method='POST' action='/learning/store'>
        <div class='form-group'>
            <label for='nameCourse'>Tên khóa học</label>
            <input class='form-control' id='nameCourse' name='nameCourse'/>
        </div>
        <div class='form-group'>
            <label for='unitId'>unitId</label>
            <input class='form-control' id='unitId' name='unitId'/>
        </div>
        <div class='form-group'>
            <label for='unitId'>unitId</label>
            <input class='form-control' id='unitId' name='unitId'/>
        </div>
        <div class='form-group'>
            <label for='unitId'>unitId</label>
            <input class='form-control' id='unitId' name='unitId'/>
        </div>
        <div class='form-group'>
            <label for='unitId'>unitId</label>
            <input class='form-control' id='unitId' name='unitId'/>
        </div>
        <div class='form-group'>
            <label for='unitId'>unitId</label>
            <input class='form-control' id='unitId' name='unitId'/>
        </div>
        
        <button type='submit' class='btn btn-primary'>Thêm</button>
        <a href="/unit/">Xem ID các chương học</a>
    </form>
</div>