<div class='mt-4'>
    <h3>Thêm khóa học cho tài khoản</h3>
    <form method='POST' action='/enrollment/store'>
        <div class='form-group'>
            <label for='accountId'>AccountId</label>
            <input class='form-control' id='accountId' name='accountId' value="{{id}}"/>
        </div>
        <div class='form-group'>
            <label for='courseId'>CourseId</label>
            <input class='form-control' id='courseId' name='courseId' />
        </div>
        
        <button type='submit' class='btn btn-primary'>Thêm</button>
        <a href="/me/stored/courses">Xem ID các khóa học</a>
    </form>
</div>